<template>
  <div>
    <carousel>
      <carousel-slide v-for="n in slides" :index="n - 1">
        <div style="position:absolute; left:0; right:0; text-align:center; top:50%; color:#FFF; font-size:16px;">Slide {{ n }}</div>
        <img :src="'https://lorempicsum.com/futurama/630/300/' + n" width="100%">
      </carousel-slide>
    </carousel>
    <button @click="addSlide">Ajouter</button>
    <button @click="removeSlide">Enlever</button>
  </div>
</template>

<script>

import Carousel from './components/carousel/Carousel'
import CarouselSlide from './components/carousel/CarouselSlide'

export default {
  components: { Carousel, CarouselSlide },
  data () {
    return {
      slides: 5
    }
  },
  methods: {
    addSlide () {
      this.slides++
    },
    removeSlide() {
      this.slides--
    }
  }
}
</script>

<style src="./todos.css"></style>
